:root {
  font-size: 62.5%;
  font-family: futura-pt, "Arial Condensed", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-header {
  width: 100%;
  height: 10rem;
  position: relative;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 1;
}
.main-header .logo-wrapper {
  width: 10rem;
  height: 3.5rem;
  margin-left: 2rem;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .main-header .logo-wrapper {
    margin-left: 3rem;
  }
}
@media screen and (min-width: 1366px) {
  .main-header .logo-wrapper {
    margin-top: 15rem;
    margin-left: 15rem;
  }
}
.main-header .logo-wrapper .logo {
  width: 100%;
  height: 100%;
}
.main-header .hamburger-wrapper {
  width: 20px;
  height: 20px;
  position: relative;
  position: absolute;
  right: 2rem;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .main-header .hamburger-wrapper {
    right: 10rem;
  }
}
@media screen and (min-width: 1366px) {
  .main-header .hamburger-wrapper {
    right: initial;
    left: 4rem;
    top: 50vh;
    position: fixed;
  }
}
.main-header .hamburger-wrapper .hamburger-top,
.main-header .hamburger-wrapper .hamburger-mid,
.main-header .hamburger-wrapper .hamburger-btm {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
}
.main-header .hamburger-wrapper .hamburger-top {
  position: absolute;
  top: 2px;
}
.main-header .hamburger-wrapper .hamburger-btm {
  position: absolute;
  bottom: 2px;
}
.main-header .menu-text {
  display: none;
}
@media screen and (min-width: 1366px) {
  .main-header .menu-text {
    display: block;
    color: #fff;
    position: absolute;
    font-size: 1.5rem;
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    right: -2rem;
  }
}

.hero-main {
  /*position: absolute;
  top: 0;
  width: 100%;
  height: 135vh;
  background-image: url(/Badin-Website/slike/header-hero/white-background.png), url(/Badin-Website/slike/header-hero/net.png),url(/Badin-Website/slike/header-hero/hero-bg.png);
  background-size: initial, 1000px , cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 230px -60px, right, center;
  overflow: hidden;
  @media screen and (min-width:$tablet) {
      background-size: 1100px, 700px, cover;
      background-position: 250px -200px, right bottom, center;
  }
  @media  screen and (min-width:$laptop) {
      height: 100vh;
  }
  @media screen and (min-width:$desktop) {
      background-size: 1100px, 1000px, cover;
      background-position: 700px 0px, right bottom, center;
  }*/
  position: relative;
  top: 0;
  width: 100%;
  height: 135vh;
  background-image: url(/Badin-Website/slike/header-hero/net.png), url(/Badin-Website/slike/header-hero/hero-bg.png);
  background-size: 1000px, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: right, center;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hero-main {
    background-size: 700px, cover;
    background-position: right bottom, center;
  }
}
@media screen and (min-width: 1024px) {
  .hero-main {
    height: 100vh;
  }
}
@media screen and (min-width: 1366px) {
  .hero-main {
    background-size: 1000px, cover;
    background-position: right bottom, center;
  }
}
.hero-main .animated-curcle-yellow,
.hero-main .animated-curcle-blue,
.hero-main .animated-curcle-purple,
.hero-main .animated-curcle-green {
  width: 250px;
  height: 250px;
  position: absolute;
  border-radius: 50%;
  filter: blur(130px);
  opacity: 80%;
  z-index: 0;
}
.hero-main .animated-curcle-yellow {
  background-color: yellow;
  left: 55%;
  top: 20%;
  -webkit-animation: circle 30s linear infinite;
          animation: circle 30s linear infinite;
}
@media screen and (min-width: 1366px) {
  .hero-main .animated-curcle-yellow {
    background-color: yellow;
    left: 55%;
    top: 20%;
    -webkit-animation: circle 30s linear infinite;
            animation: circle 30s linear infinite;
  }
}
.hero-main .animated-curcle-blue {
  background-color: blue;
  left: 40%;
  top: 50%;
  animation: circle 20s linear infinite reverse;
}
@media screen and (min-width: 1366px) {
  .hero-main .animated-curcle-blue {
    background-color: blue;
    left: 40%;
    top: 50%;
    animation: circle 20s linear infinite reverse;
  }
}
.hero-main .animated-curcle-purple {
  background-color: purple;
  left: 15%;
  top: 5%;
  animation: circle 30s linear infinite reverse;
}
@media screen and (min-width: 1366px) {
  .hero-main .animated-curcle-purple {
    background-color: purple;
    left: 15%;
    top: 5%;
    animation: circle 30s linear infinite reverse;
  }
}
.hero-main .animated-curcle-green {
  background-color: green;
  top: 30%;
  -webkit-animation: circle 20s linear infinite;
          animation: circle 20s linear infinite;
}
@media screen and (min-width: 1366px) {
  .hero-main .animated-curcle-green {
    background-color: green;
    top: 30%;
    -webkit-animation: circle 20s linear infinite;
            animation: circle 20s linear infinite;
  }
}
@-webkit-keyframes circle {
  0% {
    transform: rotate(0deg) translate(-300px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-300px) rotate(-360deg);
  }
}
@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-300px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-300px) rotate(-360deg);
  }
}
.hero-main .hero-heading {
  color: #fff;
  font-weight: 700;
  font-size: 4.8rem;
  margin-top: 15rem;
  margin-left: 2rem;
  z-index: 5;
}
@media screen and (min-width: 1024px) {
  .hero-main .hero-heading {
    width: 50%;
    font-size: 8rem;
    margin-left: 3rem;
  }
}
@media screen and (min-width: 1366px) {
  .hero-main .hero-heading {
    margin-left: 15rem;
    margin-top: 25rem;
  }
}
.hero-main .hero-text {
  color: #998d9c;
  font-weight: 600;
  font-size: 2.2rem;
  margin: 2rem 3rem 2rem 2rem;
  line-height: 3rem;
  z-index: 5;
}
@media screen and (min-width: 1024px) {
  .hero-main .hero-text {
    width: 40%;
    margin-left: 3rem;
  }
}
@media screen and (min-width: 1366px) {
  .hero-main .hero-text {
    margin-left: 15rem;
    width: 50%;
    margin-top: 5rem;
  }
}
.hero-main .what-we-do {
  width: 90%;
  height: 5rem;
  background-color: #fff;
  position: absolute;
  left: 5%;
  right: 5%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
  white-space: nowrap;
  z-index: 1;
  margin-top: 1rem;
  color: #333;
}
@media screen and (min-width: 768px) {
  .hero-main .what-we-do {
    width: 200px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-main .what-we-do {
    left: 3rem;
  }
}
@media screen and (min-width: 1366px) {
  .hero-main .what-we-do {
    left: 15rem;
    width: 180px;
  }
}
.hero-main .life-at-badin {
  width: 90%;
  height: 5rem;
  background-color: #fff;
  position: absolute;
  left: 5%;
  right: 5%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
  white-space: nowrap;
  z-index: 1;
  margin-top: 8rem;
  background-color: #393939;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .hero-main .life-at-badin {
    width: 200px;
    margin-top: 1rem;
    margin-left: 25rem;
  }
}
@media screen and (min-width: 1024px) {
  .hero-main .life-at-badin {
    margin-left: 20rem;
  }
}
@media screen and (min-width: 1366px) {
  .hero-main .life-at-badin {
    margin-left: 30rem;
    width: 180px;
  }
}
.hero-main .hero-photo {
  width: 100%;
  height: 100%;
}
.hero-main .big-photo-wrapper {
  width: 450px;
  height: 350px;
  position: absolute;
  bottom: -50px;
  right: -90px;
}
@media screen and (min-width: 768px) {
  .hero-main .big-photo-wrapper {
    width: 600px;
    height: 450px;
    right: -85px;
    bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .hero-main .big-photo-wrapper {
    width: 630px;
    height: 480px;
    right: -65px;
  }
}
@media screen and (min-width: 1366px) {
  .hero-main .big-photo-wrapper {
    width: 750px;
    height: 570px;
    right: -95px;
    bottom: -30px;
  }
}
.hero-main .planet-wrapper {
  width: 50px;
  height: 45px;
  position: absolute;
  bottom: 200px;
  left: 25%;
}
@media screen and (min-width: 768px) {
  .hero-main .planet-wrapper {
    width: 60px;
    height: 55px;
    bottom: 280px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-main .planet-wrapper {
    bottom: initial;
    top: 100px;
    right: 15%;
    left: initial;
    width: 80px;
    height: 75px;
  }
}
@media screen and (min-width: 1366px) {
  .hero-main .planet-wrapper {
    width: 110px;
    height: 100px;
    right: 20%;
  }
}
.hero-main .building-wrapper-left {
  width: 70px;
  height: 120px;
  position: absolute;
  bottom: -40px;
  left: 50px;
}
@media screen and (min-width: 768px) {
  .hero-main .building-wrapper-left {
    left: 25%;
    width: 90px;
    height: 160px;
    bottom: -10px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-main .building-wrapper-left {
    width: 120px;
    height: 210px;
    left: 40%;
    bottom: -50px;
  }
}
@media screen and (min-width: 1366px) {
  .hero-main .building-wrapper-left {
    left: 55%;
  }
}
.hero-main .building-wrapper-right {
  width: 60px;
  height: 105px;
  position: absolute;
  bottom: 0;
  right: 30px;
}
@media screen and (min-width: 768px) {
  .hero-main .building-wrapper-right {
    width: 70px;
    height: 120px;
    bottom: 80px;
    right: 45px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-main .building-wrapper-right {
    width: 85px;
    height: 150px;
    right: 65px;
    bottom: 55px;
  }
}
@media screen and (min-width: 1366px) {
  .hero-main .building-wrapper-right {
    width: 120px;
    height: 210px;
    bottom: 0px;
    right: 30px;
  }
}

.clients {
  width: 100%;
  height: 100vh;
  background-color: #f9fafe;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .clients {
    height: 85vh;
  }
}
@media screen and (min-width: 1024px) {
  .clients {
    height: 50vh;
  }
}
@media screen and (min-width: 1366px) {
  .clients {
    height: 30vh;
  }
}
.clients .clients-list {
  width: 90vw;
  max-width: 550px;
  height: 90vh;
  list-style: none;
  padding: 0 auto;
}
@media screen and (min-width: 768px) {
  .clients .clients-list {
    max-width: initial;
    height: 80%;
    width: 75%;
  }
}
@media screen and (min-width: 1024px) {
  .clients .clients-list {
    width: 85%;
    height: auto;
  }
}
@media screen and (min-width: 1366px) {
  .clients .clients-list {
    width: 75%;
  }
}
.clients .clients-list .client-logo-wrapper,
.clients .clients-list .client-logo-wrapper--last,
.clients .clients-list .client-logo-wrapper--last-laptop {
  float: left;
  width: 50%;
  height: 14.2857142857%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .clients .clients-list .client-logo-wrapper,
.clients .clients-list .client-logo-wrapper--last,
.clients .clients-list .client-logo-wrapper--last-laptop {
    width: 33.3333333333%;
    margin-bottom: 0.5rem;
    height: 18.1818181818%;
  }
}
@media screen and (min-width: 1024px) {
  .clients .clients-list .client-logo-wrapper,
.clients .clients-list .client-logo-wrapper--last,
.clients .clients-list .client-logo-wrapper--last-laptop {
    width: 20%;
    height: 28.5714285714%;
  }
}
.clients .clients-list .client-logo-wrapper .client-logo,
.clients .clients-list .client-logo-wrapper--last .client-logo,
.clients .clients-list .client-logo-wrapper--last-laptop .client-logo {
  width: 100%;
  height: 80%;
}
.clients .clients-list .client-logo-wrapper--last {
  margin-left: 22.5vw;
}
@media screen and (min-width: 768px) {
  .clients .clients-list .client-logo-wrapper--last {
    margin-left: 33.3333333333%;
  }
}
@media screen and (min-width: 1024px) {
  .clients .clients-list .client-logo-wrapper--last {
    margin-left: 0;
  }
}
@media screen and (min-width: 1024px) {
  .clients .clients-list .client-logo-wrapper--last-laptop {
    margin-left: 20%;
  }
}

.how-we-got {
  width: 100%;
  height: 130vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .how-we-got {
    height: 150vh;
  }
}
@media screen and (min-width: 1024px) {
  .how-we-got {
    height: 160vh;
  }
}
.how-we-got .how-we-got-heading {
  font-size: 5rem;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
  margin: 1.5rem;
}
@media screen and (min-width: 768px) {
  .how-we-got .how-we-got-heading {
    position: absolute;
    left: 2.5%;
  }
}
.how-we-got .text-top {
  font-family: lust, "Courier", serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 5rem 1.5rem 2.5rem 1.5rem;
  color: #4e5158;
}
@media screen and (min-width: 768px) {
  .how-we-got .text-top {
    margin: 13rem 5% 2.5rem 5%;
  }
}
.how-we-got .text-mid {
  font-family: lust, "Courier", serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #4e5158;
  margin: 0 1.5rem 3rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .how-we-got .text-mid {
    margin: 0 5% 2.5rem 5%;
  }
}
.how-we-got .text-btm {
  font-family: lust, "Courier", serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #4e5158;
  margin: 0 1.5rem 5rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .how-we-got .text-btm {
    margin: 0 5% 2.5rem 5%;
  }
}
.how-we-got .img-wrapper {
  width: 80%;
  height: 30%;
  position: absolute;
  border: 1px solid black;
  bottom: 1rem;
  left: 10%;
  border-radius: 30px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .how-we-got .img-wrapper {
    width: 700px;
    height: 470px;
    left: initial;
  }
}
.how-we-got .img-wrapper .how-we-got-img {
  width: 100%;
  height: 100%;
}

.services-home {
  width: 100%;
  height: 260vh;
  background-color: #f9fafe;
  position: relative;
  padding-top: 1rem;
}
.services-home .services-heading {
  font-size: 5rem;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
  margin: 5rem 0rem 5rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .services-home .services-heading {
    margin-left: 4rem;
  }
}
.services-home .services-text {
  font-size: 1.5rem;
  color: #9197ac;
  font-family: lust, "Courier", serif;
  font-weight: 600;
  margin: 1.5rem;
}
@media screen and (min-width: 768px) {
  .services-home .services-text {
    margin: 1.5rem 4rem;
  }
}
.services-home .services-blue-btn {
  width: 90%;
  height: 5rem;
  background-color: #fff;
  position: absolute;
  left: 5%;
  right: 5%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
  white-space: nowrap;
  background-color: #317ade;
  color: #fff;
  width: 60%;
  font-size: 2rem;
  left: 1.5rem;
  right: initial;
}
@media screen and (min-width: 768px) {
  .services-home .services-blue-btn {
    margin-left: 3rem;
  }
}
.services-home .services-container-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-home .services-container-list .services-link-container {
  width: 95%;
  margin-top: 8rem;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .services-home .services-container-list .services-link-container {
    margin-left: 3rem;
  }
}
.services-home .services-container-list .services-link-container .services-link-container-title--blue,
.services-home .services-container-list .services-link-container .services-link-container-title--orange,
.services-home .services-container-list .services-link-container .services-link-container-title--green {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.services-home .services-container-list .services-link-container .services-link-container-title--blue {
  color: #317ade;
}
.services-home .services-container-list .services-link-container .services-link-container-title--orange {
  color: #f19f69;
}
.services-home .services-container-list .services-link-container .services-link-container-title--green {
  color: #4ecc92;
}
.services-home .services-container-list .services-link-container .services-link-container-text {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}
.services-home .services-container-list .services-link-container .services-icon-list {
  height: 40px;
  margin-top: 0.5rem;
  display: flex;
}
.services-home .services-container-list .services-link-container .services-icon-list .services-icon {
  display: inline-block;
  height: 100%;
  width: 40px;
  border-radius: 10px;
  margin-left: 0.5rem;
}
.services-home .services-container-list .services-link-container .services-icon-list .services-icon .services-icon-img {
  width: 100%;
  height: 100%;
}
.services-home .services-container-list .services-link-container .img-wrapper-up {
  width: 160px;
  height: 250px;
  margin-top: 1.5rem;
}
.services-home .services-container-list .services-link-container .img-wrapper-mid {
  width: 275px;
  height: 250px;
  margin-top: 1.5rem;
}
.services-home .services-container-list .services-link-container .img-wrapper-btm {
  width: 250px;
  height: 310px;
  margin-top: 1.5rem;
}
.services-home .services-container-list .services-link-container .big-img {
  width: 100%;
  height: 100%;
}

.tabs-wrapper {
  width: 100%;
  height: 115vh;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .tabs-wrapper {
    padding: 0 1.5rem;
  }
}
.tabs-wrapper .tabs-heading {
  font-size: 5rem;
  margin: 5rem 0rem 5rem 1.5rem;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.tabs-wrapper .tabs-text {
  font-size: 1.5rem;
  font-family: lust, "Courier", serif;
  font-weight: 600;
  margin: 1.5rem;
  margin-right: 3rem;
  color: #9197ac;
}
.tabs-wrapper .arrow-container-wrapper {
  width: 10rem;
  height: 5rem;
  position: absolute;
  margin-top: 2.5rem;
  right: 1rem;
  display: flex;
  z-index: 1;
}
.tabs-wrapper .arrow-container-wrapper .left-arrow-container,
.tabs-wrapper .arrow-container-wrapper .right-arrow-container {
  width: 50%;
  height: 100%;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tabs-wrapper .arrow-container-wrapper .left-arrow-container .arrow-line-point--up,
.tabs-wrapper .arrow-container-wrapper .left-arrow-container .arrow-line-point--dwn {
  height: 3px;
  width: 10px;
  border-radius: 2px;
  background-color: #cbcaca;
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.tabs-wrapper .arrow-container-wrapper .left-arrow-container .arrow-line-point--up {
  translate: -6px -3px;
  rotate: -45deg;
}
.tabs-wrapper .arrow-container-wrapper .left-arrow-container .arrow-line-point--dwn {
  translate: -6px 3px;
  rotate: 45deg;
}
.tabs-wrapper .arrow-container-wrapper .right-arrow-container .arrow-line {
  background-color: #317ade;
}
.tabs-wrapper .arrow-container-wrapper .right-arrow-container .arrow-line-point--up,
.tabs-wrapper .arrow-container-wrapper .right-arrow-container .arrow-line-point--dwn {
  height: 3px;
  width: 10px;
  border-radius: 2px;
  background-color: #317ade;
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.tabs-wrapper .arrow-container-wrapper .right-arrow-container .arrow-line-point--up {
  translate: 6px -3px;
  rotate: 45deg;
}
.tabs-wrapper .arrow-container-wrapper .right-arrow-container .arrow-line-point--dwn {
  translate: 6px 3px;
  rotate: -45deg;
}
.tabs-wrapper .arrow-container-wrapper .arrow-line {
  width: 20px;
  height: 3px;
  border-radius: 2px;
  background-color: #cbcaca;
  transition: all 0.5s ease-in-out;
}
.tabs-wrapper .tabs-nav {
  display: flex;
  margin-top: 5rem;
  width: 120vw;
  transition: all 0.5s linear;
  z-index: 0;
}
.tabs-wrapper .tabs-nav .tab {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 30px;
  margin: 0 1rem;
  margin-top: 50px;
  transition: all 0.5s ease-in-out;
}
.tabs-wrapper .tabs-nav .tab .tab-img {
  width: 100%;
  height: 100%;
}
.tabs-wrapper .tabs-nav .tab.active {
  width: 130px;
  height: 130px;
  margin-top: 0;
}
.tabs-wrapper .tab-description {
  width: 95%;
  position: relative;
  margin-left: 2.5%;
  margin-top: 5rem;
}
.tabs-wrapper .tab-description .tab-description-title {
  font-size: 2.4rem;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.tabs-wrapper .tab-description .tab-description-subtitle {
  font-size: 1.6rem;
  color: #798099;
  margin-top: 0.5rem;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.tabs-wrapper .tab-description .tab-description-text {
  font-size: 2rem;
  margin-top: 0.5rem;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.hire-us {
  width: 100%;
  height: 80vh;
  position: relative;
  background-color: #f9fafe;
  padding-top: 0.5rem;
}
.hire-us .hire-us-heading {
  font-size: 5rem;
  font-family: lust, "Courier", serif;
  font-weight: 700;
  font-style: italic;
  font-weight: 700;
  margin: 2rem 0 5rem 2.5rem;
  position: relative;
  z-index: 2;
}
.hire-us .hire-us-heading::before {
  content: "Need our help?";
  translate: 5px -30px;
  position: absolute;
  white-space: nowrap;
  font-size: 5rem;
  font-family: lust, "Courier", serif;
  font-weight: 700;
  color: #f0f1f4;
  z-index: 0;
}
.hire-us .hire-us-text {
  font-size: 1.6rem;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 600;
  width: 95%;
  margin: 0 auto;
  color: #ced0d9;
}
@media screen and (min-width: 768px) {
  .hire-us .hire-us-text {
    width: 70%;
    float: left;
    margin-left: 2.5rem;
    position: relative;
  }
}
.hire-us .hire-us-btn {
  width: 90%;
  height: 5rem;
  background-color: #fff;
  position: absolute;
  left: 5%;
  right: 5%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
  white-space: nowrap;
  background-color: #317ade;
  width: 35%;
  left: initial;
  right: initial;
  margin-top: 2.5rem;
  margin-left: 2.5%;
  font-size: 2rem;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .hire-us .hire-us-btn {
    margin-top: 8rem;
  }
}
.hire-us .trusted-wrapper {
  width: 100vw;
  height: 35vh;
  position: relative;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
.hire-us .trusted-wrapper .trusted {
  font-size: 1.6rem;
  width: 12rem;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 600;
  color: #7c839c;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.hire-us .trusted-wrapper .trusted-client-list {
  height: 20vh;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  position: absolute;
  -webkit-animation: trusted-list-animation 7s linear infinite alternate;
          animation: trusted-list-animation 7s linear infinite alternate;
}
.hire-us .trusted-wrapper .trusted-client-list .trusted-logo-wrapper {
  float: left;
  list-style-type: none;
  width: 15rem;
  height: 5rem;
  position: relative;
}
.hire-us .trusted-wrapper .trusted-client-list .trusted-logo-wrapper .trusted-logo {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
@-webkit-keyframes trusted-list-animation {
  100% {
    translate: calc(-100% + 100vw);
  }
}
@keyframes trusted-list-animation {
  100% {
    translate: calc(-100% + 100vw);
  }
}

.career {
  width: 100%;
  height: 140vh;
  background-color: #f9fafe;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}
@media screen and (min-width: 768px) {
  .career {
    height: 120vh;
  }
}
.career .career-heading {
  font-size: 5rem;
  font-family: lust, "Courier", serif;
  font-weight: 700;
  font-style: italic;
  font-weight: 700;
  margin: 5rem 0 5rem 2.5rem;
  position: relative;
  z-index: 1;
}
.career .career-heading::before {
  content: "Open Positions";
  width: 50%;
  translate: 5px -85px;
  position: absolute;
  font-size: 5rem;
  font-family: lust, "Courier", serif;
  font-weight: 700;
  color: #f0f1f4;
  z-index: 0;
}
.career .career-card {
  width: 450px;
  height: 160px;
  position: relative;
  background-color: #fff;
  margin: 0 auto 2rem auto;
  box-shadow: #317ade 1px 1px 5px 0.5px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .career .career-card {
    width: 700px;
    height: 120px;
  }
}
.career .career-card .career-card-text {
  font-size: 1.8rem;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 1rem;
}
@media screen and (min-width: 768px) {
  .career .career-card .career-card-text {
    width: 65%;
    position: absolute;
  }
}
.career .career-card .apply-btn {
  width: 90%;
  height: 5rem;
  background-color: #fff;
  position: absolute;
  left: 5%;
  right: 5%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
  white-space: nowrap;
  background-color: #317ade;
  width: 15rem;
  margin-top: 1.5rem;
  color: #fff;
  font-size: 1.7rem;
  justify-content: initial;
  padding-left: 2.5rem;
}
@media screen and (min-width: 768px) {
  .career .career-card .apply-btn {
    margin: initial;
  }
}
.career .career-card .apply-btn .apply-arrow-container {
  width: 50px;
  height: 50px;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.career .career-card .apply-btn .apply-arrow-container .apply-arrow-line {
  width: 20px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}
.career .career-card .apply-btn .apply-arrow-container .apply-arrow-line::before, .career .career-card .apply-btn .apply-arrow-container .apply-arrow-line::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}
.career .career-card .apply-btn .apply-arrow-container .apply-arrow-line::before {
  rotate: 45deg;
  translate: 13px -3px;
}
.career .career-card .apply-btn .apply-arrow-container .apply-arrow-line::after {
  rotate: -45deg;
  translate: 13px 3px;
}
.career .open-positions-btn {
  width: 90%;
  height: 5rem;
  background-color: #fff;
  position: absolute;
  left: 5%;
  right: 5%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
  white-space: nowrap;
  background-color: #333;
  position: absolute;
  bottom: 7rem;
  width: 55%;
  margin: 0 auto;
  color: #fff;
  font-size: 2rem;
}

.gallery {
  width: 100%;
  height: 300vh;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .gallery {
    height: 410vh;
  }
}
.gallery .gallery-img-wrapper,
.gallery .gallery-img-wrapper--big {
  width: 450px;
  height: 300px;
  border: 1px solid black;
  margin: 5rem auto 2.5rem auto;
  border-radius: 20px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .gallery .gallery-img-wrapper,
.gallery .gallery-img-wrapper--big {
    width: 700px;
    height: 460px;
    margin: 2rem auto 1rem auto;
  }
}
.gallery .gallery-img-wrapper--big {
  height: 700px;
}
@media screen and (min-width: 768px) {
  .gallery .gallery-img-wrapper--big {
    height: 1110px;
  }
}

.experience {
  width: 100vw;
  height: 100vh;
  background-color: #317ade;
  padding-top: 0.5rem;
  overflow: hidden;
  position: relative;
}
.experience .experience-heading {
  font-size: 5rem;
  font-family: lust, "Courier", serif;
  font-weight: 700;
  font-style: italic;
  font-weight: 700;
  margin: 7rem 0 5rem 2.5rem;
  color: #fff;
  position: relative;
}
.experience .tech-list-up,
.experience .tech-list-midup,
.experience .tech-list-middwn,
.experience .tech-list-dwn {
  white-space: nowrap;
  position: absolute;
  height: 40px;
}
.experience .tech-list-up .tech,
.experience .tech-list-midup .tech,
.experience .tech-list-middwn .tech,
.experience .tech-list-dwn .tech {
  display: inline-block;
  height: 40px;
  margin-right: 2rem;
  font-size: 3.2rem;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #adbfda;
}
@-webkit-keyframes tech-list-animation {
  100% {
    translate: calc(-100% + 100vw);
  }
}
@keyframes tech-list-animation {
  100% {
    translate: calc(-100% + 100vw);
  }
}
.experience .tech-list-up {
  -webkit-animation: tech-list-animation 50s linear infinite alternate;
          animation: tech-list-animation 50s linear infinite alternate;
}
.experience .tech-list-midup {
  margin-top: 12rem;
  animation: tech-list-animation 50s linear infinite alternate-reverse;
}
.experience .tech-list-middwn {
  margin-top: 24rem;
  -webkit-animation: tech-list-animation 50s linear infinite alternate;
          animation: tech-list-animation 50s linear infinite alternate;
}
.experience .tech-list-dwn {
  margin-top: 36rem;
  animation: tech-list-animation 50s linear infinite alternate-reverse;
}

.contacts {
  width: 100%;
  height: 115vh;
  position: relative;
  padding-top: 5rem;
}
@media screen and (min-width: 768px) {
  .contacts {
    height: 70vh;
  }
}
.contacts .contacts-heading {
  font-size: 5rem;
  font-family: lust, "Courier", serif;
  font-weight: 700;
  font-style: italic;
  font-weight: 700;
  margin: 5rem 0 5rem 1.5rem;
  position: relative;
  z-index: 1;
}
.contacts .contacts-heading::before {
  content: "Are you ready?";
  width: 50%;
  translate: 5px -85px;
  position: absolute;
  font-size: 5rem;
  font-family: lust, "Courier", serif;
  font-weight: 700;
  color: #f0f1f4;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .contacts .contacts-heading::before {
    width: 60%;
    translate: 5px -40px;
  }
}
.contacts .info-link {
  font-size: 4rem;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #333;
  margin-left: 1.5rem;
}
.contacts .contacts-img-wrapper {
  width: 330px;
  height: 270px;
  border: 1px solid black;
  margin: 8rem 0 0 1.5rem;
}
@media screen and (min-width: 768px) {
  .contacts .contacts-img-wrapper {
    position: absolute;
    right: 2.5rem;
    bottom: 1rem;
  }
}

.footer {
  width: 100%;
  height: 130vh;
  position: relative;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
.footer .footer-media-wrapper {
  width: 95%;
  height: 30%;
}
.footer .footer-media-wrapper .logo-wrapper {
  width: 10rem;
  height: 3.5rem;
  position: relative;
  border: 1px solid white;
  margin: 2rem 0;
}
.footer .footer-media-wrapper .footer-media-text {
  font-size: 1.6rem;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #898989;
}
.footer .footer-media-wrapper .social-media-list {
  height: 56px;
  display: flex;
  white-space: nowrap;
  margin-top: 4rem;
}
.footer .footer-media-wrapper .social-media-list .social-media-link {
  display: inline-block;
  width: 56px;
  height: 100%;
  background-color: #2c2d3c;
  border-radius: 20px;
  margin-right: 0.5rem;
}
.footer .footer-nav {
  position: absolute;
  left: 2.5%;
  top: 35%;
  list-style-type: none;
}
.footer .footer-nav .footer-nav-title {
  font-size: 2rem;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  margin-bottom: 2rem;
}
.footer .footer-nav .footer-nav-item {
  font-size: 1.6rem;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #898989;
  margin: 1rem 0;
}
.footer .footer-info-wrapper {
  width: 40%;
  height: 15rem;
  position: absolute;
  left: 2.5%;
  top: calc(40% + 25rem);
  list-style-type: none;
}
.footer .footer-info-wrapper .footer-info-title {
  font-size: 2rem;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  margin-bottom: 2rem;
}
.footer .footer-info-wrapper .footer-info-mail,
.footer .footer-info-wrapper .footer-info-item {
  font-size: 1.6rem;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #898989;
  margin: 0.5rem 0;
}
.footer .footer-info-wrapper .footer-info-mail {
  margin-bottom: 2rem;
}
.footer .footer-border-line {
  width: 95%;
  height: 1.5px;
  background-color: #898989;
  margin: 0 auto;
  position: absolute;
  bottom: 7rem;
}
.footer .copyright-wrapper {
  width: 100%;
  height: 7rem;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .copyright-wrapper .copyright {
  font-size: 1.6rem;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #898989;
}/*# sourceMappingURL=style.css.map */