@import "./variables-mixins.scss";

:root {
    font-size: 62.5%;
    font-family:$font-family-primary;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-header {
    width: 100%;
    height: 10rem;
    position: relative;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;

    .logo-wrapper {
        width: 10rem;
        height: 3.5rem;
        margin-left: 2rem;
        position: relative;
        @media  screen and (min-width:$laptop) {
            margin-left: 3rem;
        }
        @media  screen and(min-width:$desktop) {
            margin-top: 15rem;
            margin-left: 15rem;
        }

        .logo {
            width: 100%;
            height: 100%;
        }
    }

    .hamburger-wrapper {
        width: 20px;
        height: 20px;
        position: relative;
        position: absolute;
        right: 2rem;
        display: flex;
        align-items: center;
        @media  screen and (min-width:$laptop) {
            right: 10rem;

        }
        @media  screen and(min-width:$desktop) {
            right: initial;
            left: 4rem;
            top: 50vh;
            position: fixed;
        }

        .hamburger-top,
        .hamburger-mid,
        .hamburger-btm {
            width: 100%;
            height: 2px;
            background-color: $white;
            border-radius: 2px;
        }

        .hamburger-top {
            position: absolute;
            top: 2px;
        }

        .hamburger-btm {
            position: absolute;
            bottom: 2px;
        }
    }

    .menu-text {
        display: none;
        @media  screen and(min-width:$desktop) {
            display: block;
            color: $white;
            position: absolute;
            font-size: 1.5rem;
            writing-mode: vertical-rl;
            right: -2rem;
        }
    }
}

.hero-main {
    /*position: absolute;
    top: 0;
    width: 100%;
    height: 135vh;
    background-image: url(/Badin-Website/slike/header-hero/white-background.png), url(/Badin-Website/slike/header-hero/net.png),url(/Badin-Website/slike/header-hero/hero-bg.png);
    background-size: initial, 1000px , cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 230px -60px, right, center;
    overflow: hidden;
    @media screen and (min-width:$tablet) {
        background-size: 1100px, 700px, cover;
        background-position: 250px -200px, right bottom, center;
    }
    @media  screen and (min-width:$laptop) {
        height: 100vh;
    }
    @media screen and (min-width:$desktop) {
        background-size: 1100px, 1000px, cover;
        background-position: 700px 0px, right bottom, center;
    }*/

    position: relative;
    top: 0;
    width: 100%;
    height: 135vh;
    background-image:  url(/Badin-Website/slike/header-hero/net.png),url(/Badin-Website/slike/header-hero/hero-bg.png);
    background-size:   1000px, cover;
    background-repeat:   no-repeat, no-repeat;
    background-position:   right, center;
    overflow: hidden;
    
    @media screen and (min-width:$tablet) {
        background-size:  700px, cover;
        background-position:  right bottom, center;
    }
    @media  screen and (min-width:$laptop) {
        height: 100vh;
    }
    @media screen and (min-width:$desktop) {
        background-size:  1000px, cover;
        background-position:  right bottom, center;
    }

    .animated-curcle-yellow,
    .animated-curcle-blue,
    .animated-curcle-purple,
    .animated-curcle-green {
        width: 250px;
        height: 250px;
        position: absolute; 
        border-radius: 50%;
        filter: blur(130px);
        opacity: 80%;
        z-index: 0;
    }

    .animated-curcle-yellow {
        @media screen and (min-width:$desktop) {
            background-color: yellow;
            left: 55%;
            top: 20%;
            animation: circle 30s linear infinite ; 
        }
    }

    .animated-curcle-blue {
        @media screen and (min-width:$desktop) {
            background-color: blue;
            left: 40%;
            top: 50%;
            animation: circle 20s linear infinite reverse ;
        }
    }

    .animated-curcle-purple {
        @media screen and (min-width:$desktop) {
            background-color: purple;
            left: 15%;
            top: 5%;
            animation: circle 30s linear infinite reverse;
        }
    }

    .animated-curcle-green {
        @media screen and (min-width:$desktop) {
            background-color: green;
            top: 30%;
            animation: circle 20s linear infinite ;
        }
    }

    @keyframes circle{
        0% {transform:rotate(0deg) translate(-300px) rotate(0deg);}
        100%{transform:rotate(360deg) translate(-300px) rotate(-360deg);}
      }

    .hero-heading {
        color: $white;
        font-weight: $font-weight-strong;
        font-size: 4.8rem;
        margin-top: 15rem;
        margin-left: 2rem;
        z-index: 5;
        @media  screen and (min-width:$laptop) {
          width: 50%;
          font-size: 8rem;
          margin-left: 3rem;
        }
        @media  screen and(min-width:$desktop) {
            margin-left: 15rem;
            margin-top: 25rem;
        }
    }

    .hero-text {
        color: #998d9c;
        font-weight: $font-weight-medium;
        font-size: 2.2rem;
        margin: 2rem 3rem 2rem 2rem;
        line-height: 3rem;
        z-index: 5;
        @media  screen and (min-width:$laptop) {
            width: 40%;
            margin-left: 3rem;
        }
        @media  screen and (min-width:$desktop) {
            margin-left: 15rem;
            width: 50%;
            margin-top: 5rem;
        }
    }

    .what-we-do {
        @include btn();
        z-index: 1;
        margin-top: 1rem;
        color: #333;
        @media  screen and (min-width:$tablet) {
            width: 200px;
        }
        @media  screen and (min-width:$laptop) {
            left: 3rem;
        }
        @media  screen and(min-width:$desktop) {
            left: 15rem;
            width: 180px;
        }
    }

    .life-at-badin {
        @include btn();
        z-index: 1;
        margin-top: 8rem;
        background-color: #393939;
        color: $white;
        @media  screen and (min-width:$tablet) {
            width: 200px;
            margin-top: 1rem;
            margin-left: 25rem;
        }
        @media  screen and (min-width:$laptop) {
            margin-left: 20rem;
        }
        @media  screen and(min-width:$desktop) {
            margin-left: 30rem;
            width: 180px;
        }
    }

    .hero-photo {
        width: 100%;
        height: 100%;
    }

    .big-photo-wrapper {
        width: 450px;
        height: 350px;
        position: absolute;
        bottom: -50px;
        right: -90px;
        @media  screen and (min-width:$tablet) {
            width: 600px;
            height: 450px;
            right: -85px;
            bottom: 0;
        }
        @media  screen and (min-width:$laptop) {
            width: 630px;
            height: 480px;
            right: -65px;
        }
        @media screen and (min-width:$desktop) {
            width: 750px;
            height: 570px;
            right: -95px;
            bottom: -30px;
        }
    }

    .planet-wrapper {
        width: 50px;
        height: 45px;
        position: absolute;
        bottom: 200px;
        left: 25%;
        @media screen and (min-width:$tablet) {
            width: 60px;
            height: 55px;
            bottom: 280px;
        }
        @media screen and (min-width:$laptop) {
           bottom: initial;
           top: 100px;
           right: 15%;
           left: initial;
           width: 80px;
           height: 75px;
        }
        @media screen and (min-width:$desktop) {
            width: 110px;
            height: 100px;
            right: 20%;
        }
    }

    .building-wrapper-left {
        width: 70px;
        height: 120px;
        position: absolute;
        bottom: -40px;
        left: 50px;
        @media screen and (min-width:$tablet) {
            left: 25%;
            width: 90px;
            height: 160px;
            bottom: -10px;
        }
        @media screen and (min-width:$laptop) {
            width: 120px;
            height: 210px;
            left: 40%;
            bottom: -50px;
        }
        @media screen and (min-width:$desktop) {
            left: 55%;
        }
    }

    .building-wrapper-right {
        width: 60px;
        height: 105px;
        position: absolute;
        bottom: 0;
        right: 30px;
        @media  screen and (min-width:$tablet) {
            width: 70px;
            height: 120px;
            bottom: 80px;
            right: 45px;
        }
        @media  screen and (min-width:$laptop) {
            width: 85px;
            height: 150px;
            right: 65px;
            bottom: 55px;
        }
        @media screen and (min-width:$desktop) {
            width: 120px;
            height: 210px;
            bottom: 0px;
            right: 30px;
        }
    }
}

.clients {
    width: 100%;
    height: 100vh;
    background-color: $secondary-background-color ;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width:$tablet) {
        height: 85vh;
    }
    @media screen and (min-width:$laptop) {
        height: 50vh;
    }
    @media screen and (min-width:$desktop) {
        height: 30vh;
    }

    .clients-list {
        width: 90vw;
        height: 90vh; 
        list-style: none;
        @media screen and (min-width:$tablet) {
            height: 80%;
            width: 75%;
        }

        
        .client-logo-wrapper,
        .client-logo-wrapper--last,
        .client-logo-wrapper--last-laptop {
            float: left; 
            width: 45vw;
            height: calc(100%/7);
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (min-width:$tablet) {
                width: calc(100%/3);
                margin-bottom: .5rem;
            }
            @media screen and (min-width:$laptop) {
                width: calc(100%/5);
            }

            .client-logo {
                width: 100%;
                height: 80%;
            }
        }

        .client-logo-wrapper--last {
            margin-left: 22.5vw;
            @media screen and (min-width:$tablet) {
                margin-left: calc(100%/3);
            }
            @media screen and (min-width:$laptop) {
                margin-left: 0;
            }
        }

        .client-logo-wrapper--last-laptop {
            @media screen and (min-width:$laptop) {
                margin-left: calc(100%/5);
            }
        }
    }
}

.how-we-got {
    width: 100%;
    height: 130vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width:$tablet) {
        height: 150vh;    
    }
    @media screen and (min-width:$laptop) {
        height: 160vh;
    }

    .how-we-got-heading {
        font-size: 5rem;
        @include font-primary-medium-italic;
        margin: 1.5rem;
    }

    .text-top {
        font-family: $font-family-secondary;
        font-weight: $font-weight-medium;
        font-size: 1.5rem;
        margin: 5rem 1.5rem 5rem 1.5rem;
        color: #4e5158;
    }

    .text-mid {
        font-family: $font-family-secondary;
        font-weight: $font-weight-medium;
        font-size: 1.5rem;
        color: #4e5158;
        margin: 0 1.5rem 5rem 1.5rem;
    }

    .text-btm {
        font-family: $font-family-secondary;
        font-weight: $font-weight-medium;
        font-size: 1.5rem;
        color: #4e5158;
        margin: 0 1.5rem 5rem 1.0rem;
    }

    .img-wrapper {
        width: 80%;
        height: 30%;
        position: absolute;
        border: 1px solid black;
        bottom: 1rem;
        left: 10%;
        border-radius: 30px;
        @media  screen and (min-width:$tablet) {
            width: 700px;
            height: 470px;
            left: initial;
        }
    }
}

.services-home {
    width: 100%;
    height: 260vh;
    background-color: $secondary-background-color;
    position: relative;
    padding-top: 1rem;

    .services-heading {
        font-size: 5rem;
        @include font-primary-medium-italic;
        margin: 5rem 0rem 5rem 1.5rem;
        @media screen and (min-width:$tablet) {
            margin-left: 4rem;
        }
    }

    .services-text {
        font-size: 1.5rem;
        color: #9197ac;
        font-family: $font-family-secondary;
        font-weight: $font-weight-medium;
        margin: 1.5rem;
        @media screen and (min-width:$tablet) {
            margin: 1.5rem 4rem;
        }
    }

    .services-blue-btn {
        @include btn;
        background-color: $badin-blue;
        color: $white;
        width: 60%;
        font-size: 2rem;
        left: 1.5rem;
        right: initial;
        @media screen and (min-width:$tablet) {
            margin-left: 3rem;
        }
    }

    .services-container-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .services-link-container  {
            width: 95%;
            margin-top: 8rem;
            text-decoration: none;
            @media screen and (min-width:$tablet) {
                margin-left: 3rem;
            }

            .services-link-container-title--blue,
            .services-link-container-title--orange,
            .services-link-container-title--green {
                font-size: 1.5rem;
                font-weight: $font-weight-strong;
                margin-bottom: 1rem;
            }

            .services-link-container-title--blue {
                color: $badin-blue;
            }

            .services-link-container-title--orange {
                color: #f19f69 ;
            }

            .services-link-container-title--green {
                color: #4ecc92 ;
            }

            .services-link-container-text {
                font-size: 2rem;
                font-weight: $font-weight-strong;
                color: #333;
            }

            .services-icon-wrapper {
                height: 40px;
                margin-top: .5rem;
                display: flex;

                .services-icon {
                    display: inline-block;
                    height: 100%;
                    width: 40px;
                    border: 1px solid black;
                    border-radius: 10px;
                    margin-left: .5rem;
                }
            }

            .img-wrapper-up {
                width: 160px;
                height: 250px;
                border: 1px solid black;
                margin-top: 1.5rem;
            }

            .img-wrapper-mid {
                width: 275px;
                height: 250px;
                border: 1px solid black;
                margin-top: 1.5rem;
            }
            .img-wrapper-btm {
                width: 250px;
                height: 310px;
                border: 1px solid black;
                margin-top: 1.5rem;
            }
        }
    }
}

.tabs-wrapper {
    width: 100%;
    height: 115vh;
    position: relative;
    overflow: hidden;

    .tabs-heading {
        font-size: 5rem;
        margin: 5rem 0rem 5rem 1.5rem;
        @include font-primary-medium-italic;
    }

    .tabs-text {
        font-size: 1.5rem;
        font-family: $font-family-secondary;
        font-weight: $font-weight-medium;
        margin: 1.5rem;
        margin-right: 3rem;
        color: #9197ac;
    }

    .arrow-container-wrapper {
        width: 10rem;
        height: 5rem;
        position: absolute;
        margin-top: 2.5rem;
        right: 1rem;
        display: flex;
        z-index: 1;

        .left-arrow-container,
        .right-arrow-container {
            width: 50%;
            height: 100%;
            background-color: transparent;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

        }

        .left-arrow-container {

            .arrow-line-point--up,
            .arrow-line-point--dwn {
                height: 3px;
                width: 10px;
                border-radius: 2px;
                background-color: #cbcaca;
                position: absolute;
                transition: all .5s ease-in-out;
            }

            .arrow-line-point--up {
                translate: -6px -3px;
                rotate: -45deg;
            }

            .arrow-line-point--dwn {
                translate: -6px 3px;
                rotate: 45deg;
            }
        }

        .right-arrow-container {

            .arrow-line {
                background-color: $badin-blue;
            }
            .arrow-line-point--up,
            .arrow-line-point--dwn {
                height: 3px;
                width: 10px;
                border-radius: 2px;
                background-color: $badin-blue;
                position: absolute;
                transition: all .5s ease-in-out;
            }

            .arrow-line-point--up {
                translate: 6px -3px;
                rotate: 45deg;
            }

            .arrow-line-point--dwn {
                translate: 6px 3px;
                rotate: -45deg;
            }
        }

        .arrow-line {
            width: 20px;
            height: 3px;
            border-radius: 2px;
            background-color: #cbcaca;
            transition: all .5s ease-in-out;
        }
    }

    .tabs-nav {
        display: flex;
        margin-top: 5rem;
        width: 120vw;
        transition: all .5s linear;
        z-index: 0;

        .tab {
            display: inline-block;
            width: 80px;
            height: 80px;
            border-radius: 30px;
            margin: 0 1rem;
            margin-top: 50px;
            transition: all .5s ease-in-out;

            .tab-img {
                width: 100%;
                height: 100%;
            }
        }

        .tab.active {
            width: 130px;
            height: 130px;
            margin-top: 0;
        }
    }

    .tab-description {
        width: 95%;
        position: relative;
        margin-left: 2.5%;
        margin-top: 5rem;

        .tab-description-title {
            font-size: 2.4rem;
            @include font-primary-heavy();
        }

        .tab-description-subtitle {
            font-size: 1.6rem;
            color: #798099;
            margin-top: .5rem;
            @include font-primary-heavy();
        }

        .tab-description-text {
            font-size: 2rem;
            margin-top: .5rem;
            @include font-primary-medium-italic();
        }
    }
}

.hire-us {
    width: 100%;
    height: 80vh;
    position: relative;
    background-color: $secondary-background-color;
    padding-top: .5rem;

    .hire-us-heading {
        font-size: 5rem;
        @include font-secondary-italic;
        font-weight: $font-weight-strong;
        margin: 2rem 0 5rem 2.5rem;
        position: relative;
        z-index: 2;

        &::before {
            content: 'Need our help?';
            translate: 5px -30px;
            position: absolute;
            white-space: nowrap;
            font-size: 5rem;
            font-family: $font-family-secondary;
            font-weight: $font-weight-strong;
            color: #f0f1f4;
            z-index: 0;
        }
    }

    .hire-us-text {
        font-size: 1.6rem;
        font-family: $font-family-primary;
        font-weight: $font-weight-medium;
        width: 95%;
        margin: 0 auto;
        color: #ced0d9;
    }

    .hire-us-btn {
        @include btn;
        background-color: $badin-blue;
        width: 35%;
        left: initial;
        right: initial;
        margin-top: 2.5rem;
        margin-left: 2.5%;
        font-size: 2rem;
        color: $white;
    }
}